 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 844px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-1 .u-image-1 {
  min-height: 681px;
  background-image: url("images/ravinstud.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 784px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 21px;
}

.u-section-1 .u-text-1 {
  margin: 15px 9px 0;
}

.u-section-1 .u-text-2 {
  font-size: 6rem;
  font-weight: 200;
  letter-spacing: 2px;
  background-image: none;
  margin: 32px 9px 0;
}

.u-section-1 .u-text-3 {
  letter-spacing: 1px;
  background-image: none;
  text-transform: none;
  font-style: italic;
  font-size: 1.25rem;
  margin: 20px 9px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-weight: 700;
  margin: 32px auto 0 9px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 642px;
  }

  .u-section-1 .u-image-1 {
    min-height: 562px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 646px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-1 .u-image-1 {
    min-height: 430px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 815px;
  }

  .u-section-1 .u-image-1 {
    min-height: 470px;
    background-position: 50% 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 30px 10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 576px;
  }

  .u-section-1 .u-image-1 {
    min-height: 337px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1047px;
}

.u-section-2 .u-image-1 {
  height: 489px;
  width: 683px;
  margin: 143px 188px 0 auto;
}

.u-section-2 .u-group-1 {
  width: 531px;
  min-height: 492px;
  margin: -237px 264px 60px auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-2 .u-text-1 {
  font-weight: 200;
  font-size: 3rem;
  margin: 9px 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 16px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 841px;
  }

  .u-section-2 .u-image-1 {
    height: 380px;
    width: 508px;
    margin-top: 147px;
    margin-right: auto;
    margin-left: 145px;
  }

  .u-section-2 .u-group-1 {
    width: 357px;
    margin-top: -290px;
    margin-bottom: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1048px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 168px;
    margin-right: 66px;
    margin-left: auto;
  }

  .u-section-2 .u-group-1 {
    width: 429px;
    min-height: 429px;
    margin-top: -55px;
    margin-right: 189px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1041px;
  }

  .u-section-2 .u-image-1 {
    height: 327px;
    width: 433px;
    margin-top: 122px;
    margin-right: 38px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -65px;
    margin-right: 9px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1214px;
  }

  .u-section-2 .u-image-1 {
    height: 215px;
    width: 300px;
    margin-top: 99px;
    margin-right: auto;
  }

  .u-section-2 .u-group-1 {
    width: 294px;
    min-height: 474px;
    margin-top: -31px;
    margin-right: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1059px;
}

.u-section-3 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 200;
  letter-spacing: 2px;
  margin: 65px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 0;
}

.u-section-3 .u-list-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-1 {
  grid-gap: 0px 0px;
}

.u-section-3 .u-custom-html-1 {
  margin-bottom: 17px;
  margin-top: 29px;
  height: auto;
  min-height: 786px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 4.0625rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 779px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-3 .u-custom-html-1 {
    margin-bottom: 46px;
    min-height: 349px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1284px;
}

.u-section-4 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 200;
  letter-spacing: 2px;
  margin: 63px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 0;
}

.u-section-4 .u-list-1 {
  margin-top: 2px;
  margin-bottom: 0;
}

.u-section-4 .u-repeater-1 {
  grid-gap: 0px 0px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 5px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 453px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 9px;
}

.u-section-4 .u-custom-html-1 {
  min-height: 322px;
  margin: 0 0 0 6px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 453px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 15px;
}

.u-section-4 .u-custom-html-2 {
  min-height: 322px;
  height: auto;
  margin: 0 30px 0 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 453px;
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-custom-html-3 {
  min-height: 396px;
  width: 375px;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 426px;
}

.u-section-4 .u-container-layout-4 {
  padding: 0;
}

.u-section-4 .u-custom-html-4 {
  min-height: 323px;
  width: 380px;
  margin: 0;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 426px;
}

.u-section-4 .u-container-layout-5 {
  padding: 0;
}

.u-section-4 .u-custom-html-5 {
  min-height: 323px;
  width: 380px;
  margin: 0;
}

.u-section-4 .u-layout-cell-6 {
  min-height: 426px;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px 0;
}

.u-section-4 .u-custom-html-6 {
  min-height: 323px;
  width: 380px;
  margin: 22px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1249px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 374px;
  }

  .u-section-4 .u-custom-html-1 {
    height: auto;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 374px;
  }

  .u-section-4 .u-custom-html-2 {
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 374px;
  }

  .u-section-4 .u-custom-html-3 {
    height: auto;
    width: 313px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 351px;
  }

  .u-section-4 .u-custom-html-4 {
    height: auto;
    width: 313px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 351px;
  }

  .u-section-4 .u-custom-html-5 {
    height: auto;
    width: 313px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 351px;
  }

  .u-section-4 .u-custom-html-6 {
    height: auto;
    width: 313px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1210px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 286px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 286px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-custom-html-3 {
    width: 240px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-custom-html-4 {
    width: 240px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-4 .u-custom-html-5 {
    width: 240px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-4 .u-custom-html-6 {
    width: 240px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1852px;
  }

  .u-section-4 .u-text-1 {
    font-size: 4.0625rem;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 644px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 644px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1642px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 405px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-custom-html-1 {
    margin-right: 18px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 405px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-custom-html-2 {
    margin-right: 20px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 396px;
  }

  .u-section-4 .u-custom-html-3 {
    margin-top: 5px;
    margin-bottom: -5px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 323px;
  }

  .u-section-4 .u-custom-html-4 {
    margin-top: -5px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 323px;
  }

  .u-section-4 .u-custom-html-5 {
    margin: 19px auto -19px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 405px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .u-section-4 .u-custom-html-6 {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }
}